* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  width: 93.75%;
  margin: 0 auto;
}

header {
  background: url(../img/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.heading-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.heading-content h2 a {
  text-decoration: none;
  font-size: 32px;
  font-family: Georgia;
  line-height: 35px;
  color: #F1CDB3;
  letter-spacing: 0.06em;
  transition: all 0.8s;
}
.heading-content h2 a:hover {
  color: #FDDCC4;
  cursor: pointer;
}
.heading-content p {
  font-size: 13px;
  font-family: Arial;
  line-height: 15px;
  color: #ffffff;
  padding-top: 10px;
  letter-spacing: 0.1em;
}
.heading-content .navigation {
  display: flex;
  gap: 35px;
  flex-direction: row;
}
.heading-content .navigation li {
  list-style: none;
}
.heading-content .navigation li a {
  text-decoration: none;
  transition: all 0.7s;
  font-size: 15px;
  font-family: Arial;
  line-height: 24px;
  color: #cdcdcd;
}
.heading-content .navigation li a:hover {
  color: #fafafa;
  border-bottom: 3px solid #4C4C4C;
}

/* header content */
.header-content {
  padding-top: 90px;
  display: flex;
  gap: 42px;
}
.header-content .header-img img {
  width: 54.53vw;
}

.header-content__block {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-top: 163px;
}
.header-content__block h1 {
  font-size: 44px;
  font-family: Georgia;
  line-height: 57px;
  color: #ffffff;
  padding-right: 150px;
}
.header-content__block p {
  font-size: 15px;
  font-family: Arial;
  line-height: 24px;
  color: #cdcdcd;
}
.header-content__block a button {
  background-color: #F1CDB3;
  border-radius: 100px;
  padding: 15px 45px;
  font-size: 17px;
  font-family: Georgia;
  line-height: 22px;
  color: #292929;
  transition: all 0.7s;
  letter-spacing: 0.06em;
}
.header-content__block a button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

/* ABOUT */
.about-content {
  padding-top: 80px;
  padding-bottom: 100px;
  padding-left: 175px;
  padding-right: 175px;
  display: flex;
  gap: 120px;
  align-items: center;
}

.about-content__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about-content__content h3 {
  letter-spacing: 0.06em;
  font-size: 35px;
  font-family: Georgia;
  line-height: 45px;
  color: #545454;
  padding-right: 60px;
}
.about-content__content p {
  font-size: 15px;
  font-family: Arial;
  line-height: 24px;
  color: #4C4C4C;
}

/* PETS*/
.pets-content {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  background-color: #fafafa;
  align-items: center;
}
.pets-content h3 {
  letter-spacing: 0.06em;
  font-size: 35px;
  font-family: Georgia;
  line-height: 45px;
  color: #545454;
  text-align: center;
  padding-right: 400px;
  padding-left: 400px;
}
.pets-content a button {
  background-color: #F1CDB3;
  border-radius: 100px;
  padding: 15px 45px;
  letter-spacing: 0.06em;
  font-size: 17px;
  font-family: Georgia;
  line-height: 22px;
  color: #292929;
  transition: all 0.7s;
  border: none;
}
.pets-content a button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.pets-container {
  display: flex;
  gap: 53px;
}
.pets-container button {
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  transition: all 0.8s;
}
.pets-container button:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.item {
  display: flex;
  gap: 90px;
}

.pets-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.pets-card img {
  border-radius: 9px 9px 0px 0px;
}

/* HELP */
/* DONATION */
/* FOOTER *//*# sourceMappingURL=style.css.map */