$color-primary-light:  #FDDCC4;
$color-primary: #F1CDB3;
$color-dark-light: #545454;
$color-dark: #292929;
$color-dark-grey: #4C4C4C;
$color-white: #ffffff;
$color-light-s: #fafafa;
$color-bc: #f6f6f6;
$color-grey: #cdcdcd;
$color-grey-cursor: #b2b2b2;



$font-family-arial: Arial;
$font-family-georgia: Georgia;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}


.wrapper {
    width: 93.75%;
    margin: 0 auto;
}

@mixin font-text($fs, $ff, $lh, $color) {
    font-size: $fs;
    font-family: $ff;
    line-height: $lh;
    color: $color;
 }


 header {
    background: url(../img/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
 }

.heading-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    h2 {    
        a {
           text-decoration: none;  
           @include font-text(32px, $font-family-georgia, 35px, $color-primary);
           letter-spacing: 0.06em;
           transition: all 0.8s;
           &:hover {
                color: $color-primary-light;
                cursor: pointer;
                  }       
            }
        }
    p {
       @include font-text(13px, $font-family-arial, 15px, $color-white);
       padding-top: 10px;
       letter-spacing: 0.1em;
    }

    
       .navigation {
        display: flex;
        gap: 35px;
        flex-direction: row;

        li {
            list-style: none;

            a {
                text-decoration: none;
                display: inline-block;
                position: relative;
                @include font-text(15px, $font-family-arial, 24px, $color-grey);
                &:after {
                    display: block;
                    content: "";
                    color: $color-light-s;
                    background-color: $color-primary;
                    height: 2px;
                    width: 0%;
                    left: 50%;
                    position: absolute;
                    transition: width .3s ease-in-out;
                    transform: translateX(-50%);
                }
                &:hover:after {
                    width: 100%;
                }
                
            }
        }
       } 
    
}


/* header content */


.header-content {
    padding-top: 90px;
    display: flex;
    gap: 42px;

    .header-img {
        img {
            width: 54.53vw;
        }
    }
}

.header-content__block {
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding-top: 163px;

    h1 {
        @include font-text(44px, $font-family-georgia, 57px, $color-white);
        padding-right: 150px;
    }
    p {
        @include font-text(15px, $font-family-arial, 24px, $color-grey);
    }

    .btn_header-block_btn {
            width: 207px;
            text-decoration: none;
            background-color: $color-primary;
            border-radius: 100px;
            padding: 15px 0px;
            text-align: center;
            @include font-text(17px, $font-family-georgia, 22px, $color-dark);
            transition: all  0.7s;
            letter-spacing: 0.06em;
            &:hover {
                cursor: pointer;
                background-color: $color-primary-light;
            }     
    }
}

/* ABOUT */

.about-content {
     padding-top: 80px;
    padding-bottom: 100px;
    padding-left: 175px;
    padding-right: 175px;
    display: flex;
    gap: 120px;
    align-items: center;  
}

.about-content__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    

    h3{
        letter-spacing: 0.06em;
        @include font-text(35px, $font-family-georgia, 45px, $color-dark-light);
        padding-right: 60px;
    }

    p {
        @include font-text(15px, $font-family-arial, 24px, $color-dark-grey);
    }
}


/* PETS*/

.pets {
    background-color:$color-bc;
}
.pets-content {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    
    align-items: center;

    h3 {
        letter-spacing: 0.06em;
        @include font-text(35px, $font-family-georgia, 45px, $color-dark-light);
        text-align: center;
        padding-right: 400px;
        padding-left: 400px;
    }

    .petsour{
        text-decoration: none;
        width: 261px;
        height: 52px;
            background-color: $color-primary;
            border-radius: 100px;
            padding: 15px 0px;
            text-align: center;
            letter-spacing: 0.06em;
            @include font-text(17px, $font-family-georgia, 22px, $color-dark);
            transition: all  0.7s;
            border: none;
           
            &:hover {
                cursor: pointer;
                background-color: $color-primary-light;
            }
        
       
    }
}

.pets-container {
    display: flex;
    gap: 53px;
    justify-content: center;
    align-items: center;
    

    button {
        border: 2px solid $color-primary;
        border-radius: 50%;
        width: 52px;
        height: 52px;
        transition: all 0.8s;
        &:hover {
            background-color: $color-primary-light;
            cursor: pointer;
        }
        
    }
}

.item {
    display: flex;
    gap: 90px;
}

.pets-card {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 0px 0px 9px 9px;
    transition: all 0.8s;
    .name {
        letter-spacing: 0.06em;
        text-decoration: none;
        @include font-text(20px, $font-family-georgia, 23px, $color-dark-light);
    }
    
    .learn-btn {
      border-radius: 100px;
      border: 2px solid $color-primary;
      width: 187px;
      text-decoration: none;
      padding: 15px 0px;
      text-align: center;
      @include font-text(17px, $font-family-georgia, 22px, $color-dark);
      letter-spacing: 0.06em;
      transition: all 0.8s;
      &:hover {
        background-color: $color-primary-light;
        cursor: pointer;
        border: 2px solid $color-primary-light;
      }
    }
    &:hover {
cursor: pointer;
background-color: $color-white;
    }

    
    img {
        border-radius: 9px 9px 0px 0px;
    }
}

/* HELP */
.wrapper {
    width: 93.75%;
    margin: 0 auto;
}

.help-content {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;

    h3 {
        letter-spacing: 0.06em;
        @include font-text(35px, $font-family-georgia, 45px, $color-dark-light);
        text-align: center;
        padding-right: 444px;
        padding-left: 446px;
    }
}

.help-block {
    display: flex;
    flex-wrap: wrap;
    row-gap: 55px;
    column-gap: 120px;
    padding-left: 86px;
    padding-right: 86px;
    text-align: center;
    align-items: center;
    justify-content: center;

    .food {
        width: 83px;
        height: 113px;
    }
    .transportation {
        width: 150px;
        height: 113px;
    }
    .toys {
        width: 60px;
        height: 113px;
    }
    .bowls {
        width: 154px;
        height: 113px;
    }
    .shampoos {
        width: 101px;
        height: 113px;
        img {
            width: 31px;
        }
    }
    .vitamins {
        width: 89px;
        height: 113px;
    }
    .medicines {
        width: 101px;
        height: 113px;
    }
    .collars {
        width: 166px;
        height: 113px;
    }
    .slepping {
        width: 144px;
        height: 113px;
    }
 


    .flex-item {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        .help-name {
            text-align: start;
            letter-spacing: 0.06em;
            @include font-text(20px, $font-family-georgia, 23px, $color-dark);
        }
    }
}


/* DONATION */

.donation {
    background-color:$color-bc;
}
.donation-content {
padding: 80px 143px 100px;
display: flex;
gap: 30px;
align-items: center;
}

.donation__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
   
    h3 {
        letter-spacing: 0.06em;
        @include font-text(35px, $font-family-georgia, 45px, $color-dark-light);
        text-align: start;
        padding-right: 80px;
    }

    h5 {
        letter-spacing: 0.06em;
        @include font-text(15px, $font-family-georgia, 17px, $color-dark);
    }



    .legal-inf {
        font-style: italic;
        @include font-text(12px, $font-family-arial, 18px, $color-grey-cursor);
    }
}

.credit-card {
    display: block;
    width: 350px;
    height: 43px;
    background-color: $color-primary;
    border-radius: 9px;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px 15px;
    a {
        img { transition: 0.8s;
            
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                box-shadow: 1px 1px 4px #292929;
            }
        }
    }

    .card-number {
        
            a {
                text-decoration: none;
                letter-spacing: 0.06em;
                transition: 0.8s;
           @include font-text(20px, $font-family-georgia, 23px, $color-dark);
           
        }
    
        }
}

/* FOOTER */

footer {
    background: url(../img/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 160px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 234px;
    h3 {
        letter-spacing: 0.06em;
        @include font-text(35px, $font-family-georgia, 45.5px, $color-white);
        
    }
    span {
        a  {
            text-decoration: none;
            @include font-text(20px, $font-family-georgia, 23px, $color-primary);
        }
    }
    

    
}

.telephone {
    width: 279px;
}

.adress {
    width: 300px;
}
